In [1]:
import pandas as pd

In [2]:
pages = ['http://ec2-54-90-234-76.compute-1.amazonaws.com/docstars_pg1.html',
        'http://ec2-54-90-234-76.compute-1.amazonaws.com/docstars_pg2.html',
        'http://ec2-54-90-234-76.compute-1.amazonaws.com/docstars_pg3.html']

In [3]:

temp_dfs = []
for page in pages:
    tmp_df = pd.read_html(page,flavor='bs4',header=0)
    temp_dfs.append(tmp_df[0])

In [4]:
scraped_df = pd.concat(temp_dfs)

In [5]:
scraped_df.sort_values(by='NPI').to_csv('scraped_djs_docstars.csv',index=False,)

In [6]:
scraped_df.head()

          NPI                    Name  Rating
0  1487617270        Raul J Rosenthal     4.6
1  1558359364  David Michael Feldbaum     2.3
2  1366559627         Mariam Alsharif     4.7
3  1972865046          Armin Shivazad     1.7
4  1598958670         Maggie Elizarde     3.3

## Scraping Question 2a:

What is the average rating for providers in the plan's network (that is, the providers in the SQL database you looked at above)?

In [7]:
providers = pd.read_csv('providers_201810251253.csv')

In [8]:
providers.head()

          npi                full_name  is_pcp
0  1720287659        ABIE ALIAS SAMUEL   False
1  1023038494        SURENDRA K SIRPAL   False
2  1689077661           ERICA  VERGARA   False
3  1902808678  PEDRO FRANCISCO BADILLO   False
4  1538123211       DENISE CRAIG HAYES   False

In [9]:
npi_in_network = set(providers['npi'])

In [10]:
scraped_df['in_network'] = scraped_df['NPI'].apply(lambda npi: npi in npi_in_network)

In [11]:
in_network_rating = scraped_df.query('in_network == True')['Rating'].mean()
print(f"The average rating of in-network providers is {in_network_rating}")

The average rating of in-network providers is 3.283333333333334

### Scraping 2b 

What about for the plan's Primary Care providers? (you can do this either in SQL or python, but please include your code along with your answer)

In [12]:
pcp_providers = set(providers.query('is_pcp == True')['npi'])

In [13]:
scraped_df['pcp_provider'] = scraped_df['NPI'].apply(lambda npi: npi in pcp_providers)

In [14]:
pcp_provider_rating = scraped_df.query('pcp_provider == True')['Rating'].mean()
print(f"The average rating of in-network Primary Care providers is {pcp_provider_rating}")

The average rating of in-network Primary Care providers is 3.50625